body {
    margin-bottom: 10px;
    margin-top   : 0px;
}

#code-output {
	margin-left: auto;
	margin-right: auto;
    padding: 20px 60px;
}

#toolbar, .side-menu, .draft-title {
	font-family: monospace; 
	font-size: 12px; 
	color: #666666; 
}

#toolbar {
	width: 100%;
	margin-bottom: 5px;
}

button, select {
	color: inherit;
	background: linear-gradient(#F9F9F9 10%, #E9E9E9 100%) #F9F9F9;
	font-family: inherit; 
	font-size: inherit; 
	border: 1px solid #DCDCDC; 
	border-radius: 5px;
	display: inline-block; 
	cursor: pointer; 
}

button {
	font-weight: bold;
	padding: 4px 20px;
}

button:hover {
	background: linear-gradient(#E9E9E9 10%, #F9F9F9 100%) #E9E9E9;
}

.draft-title {
    float       : left;
    font-size   : 24pt;
    margin-left : 70px;
    margin-top  : 15px;
}

#draw {
	margin-right: 10px;
}

#toolbar select {
	height: 24px;
	margin-right: 10px;
}

#canvas {
	border: 1px solid black;
}

#warp-data {
    min-height: 34px;
	overflow: hidden;
	font-family: monospace;
	font-size: 12px;
	color: #666666;
	margin-bottom: 6px;
}

#color-palette {
    overflow: hidden;
}

#warp-ends {
	float: right;
}

.show-index span.color-count {
	display: none;
}

.show-count span.color-index {
	display: none;
}

div.color-div {
	overflow: hidden;
	display: inline-block;
	margin-right: 2px;
    min-width: 50px;
}

div.color-swatch {
	width: 24px;
	height: 14px;
	float: left;
	margin-right: 2px;
    border: 1px solid #eeeeee;
}

#code-editor {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#code-editor.hidden {
    display: none;
}


#captains-log{
    width: 894px;
    height: 100px;
    display: none;
}

.sandbox {
    border : 0;
    width  : 0px;
    height : 0px;
}

.click-catcher {
    position   : absolute ;
    width      : 100%;
    height     : 100%;
    z-index    : 150;
    background : rgba( 0, 0, 0, 0.3 );
}

.alert-box {
    z-index      : 200;
    position     : absolute;
    top          : 10%;
    margin-right : 33%;
    margin-left  : 33%;
    width        : 33%;
    min-width    : 400px;
    height       : 200px;
    border       : 4px solid #eeeeee;
    background   : white;
    font-size    : 14pt;
    text-align   : center;
    padding      : 8px;
    
}

.share-link-input {
    font-size  : 14pt;
    text-align : center;
    width      : 90%;
    margin     : 5%;
}

.alert-box.hidden {
    top : -300px;
}

.click-catcher.hidden {
    display : none;
}

.side-menu.open-state {
    left : 0px;
    padding-left: 10px;
    animation-duration: 0.25s;
    animation-name: slidein;
}


@keyframes slidein {
  from {
    left : -200px;
  }

  to {
    left : 0px;
  }
}

.side-menu-header {
    font-size: 32px;
    overflow: hidden;
    margin: 20px 0;
}

.side-menu-header .title{
    float: left;
    margin-top: -5px;
}

.side-menu {
    position    : absolute ;
    height      : 100% ;
    border-right: 1px solid #cccccc;
    z-index     : 100;
    background  : white;
    width       : 200px;
    left        : -200px;
}

.close-button.side-menu-close {
    float        : right;
    border       : none;
    margin-right : 10px;
}

.burger-button {
    display  : inline-block;
    position : absolute;
    height   : 28px;
    width    : 36px;
    margin   : 20px 10px;
}

.burger-top,
.burger-bot,
.burger-middle {
  position: absolute;
  display: block;
  height: 4px;
  width: 36px;
  border-radius: 2px;
  background: #999999;
}

.burger-top {
  top: 0;
  transform-origin: 34px 2px;
}

.burger-bot {
  bottom: 0;
  transform-origin: 34px 2px;
}

.burger-middle {
  top: 12px;
}


.close-button {
    display  : inline-block;
    position : relative;
    height   : 28px;
    width    : 36px;
}

.close-top,
.close-bot {
  position: absolute;
  display: block;
  height: 4px;
  width: 36px;
  border-radius: 2px;
  background: #999999;
}

.close-top {
    transform-origin: 34px 2px;
    left      : -5px;
    top       : 1px;
    transform : rotate(-45deg);
}

.close-bot {
  bottom: 0;
  transform-origin: 34px 2px;
  left: -5px;
  transform: rotate(45deg);
}


.arcive .arcive-button {
    display : none;
}

.history li {
    overflow : hidden;
}

.arcive-button {
    float : right;
    opacity : 0.0;
}

li:hover .arcive-button {
    opacity : 1.0;
}

