#toolbar {
  margin-bottom: 5px;
}

#canvas {
	border: 1px solid black;
}

#color-table {
}

div.color-div {
	overflow: hidden;
	display: inline-block;
	margin-right: 10px;
	font-family: monospace;
}

div.color-swatch {
	width: 2em;
	height: 1.2em;
	float: left;
	margin-right: 2px;
}
